@import "../../static/css/mixin";

page {
  background: #bc86bc;
}

.inbox-root {
  height: 100vh;
  .card-list {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card {
      margin-top: 30px;
    }
    //overflow: auto;
  }

}
